
.class1 {
    background-color: red;
}
/*#id1 {
    background-color: red;
  }

  a {
    background-color: rgb(0, 255, 13);
  }

  p {
    background-color: rgb(20, 16, 248);
  } 

  .class2.class3 {
    background-color: rgb(255, 0, 221);
  }

  .class2 p {
    background-color: rgb(225, 255, 0);
  }

  .class5, a {
  background-color: rgb(255, 128, 0);
}

.class2 > p {
    background-color: rgb(0, 255, 34);
  } 

  .class2, .class6 {
    background-color: rgb(255, 255, 255);
  }
*/


/* zde je ukazano, jak nastavit obrazek jako pozadi */
.div-with-bg{
    background-image: url("kitty.jpeg");
    background-repeat: no-repeat;
    height: 40vh;
}

/* zde je ukazano, jak funguje box model */

.container {
    background-color: rgb(179, 179, 179);
}

.pruh{
    background-color: rgb(255, 230, 39);
    height: 50px;
}

.box {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
    background-color: brown;
    border: 5px solid black;
}

/* zde je vytvoreno navigacni menu */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
li {
  display: inline;
}
.div {
  display: none;
}
a {
  display: block;
  float: left;
  padding: 5px;
  background-color: rgb(209, 146, 64);
}
a:hover {
  background-color: rgba(243, 22, 217, 0.697);
  font-size: 50px;
}
a:link {
  text-decoration: none;
  color: rgb(141, 200, 14);
}
a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

